#home .inicio {
  display: flex;
}
.titulo {
  text-align: center;
}

.inicio {
  padding: 8rem;
}

.diviser {
  padding-top: 8rem;
  padding-left: 6rem;
}

li {
  font: 500 1.5rem 'DM sans', sans-serif;
}

p {
  font: 700 1.8rem 'DM sans', sans-serif;
  color: var(--black);
}
